body {
    background-color: #879bae;
    font-family: Arial, sans-serif;
}
.wrapper {
    overflow-x:scroll;
    width:100%; 
}

table {
    table-layout: fixed; 
    width:auto;
    border-collapse: collapse;
}
.fix {
    width: 180px;
    position:sticky;
    background: #c3dcf0;
    left:0;
    max-width:180px;
    min-width:180px;
}

.fix.expired {
    background: #686868;
    color: #ffffff;
}

td, th {
    text-align: center;
    max-width: 100px;
    min-width: 100px;
    margin:0%;
    padding: 5px;
}

th {
    background-color: #ffffff;
    border-right: 2px solid #708fb0;
}
th.expired {
    background-color: #ffffff;
    border-right: 2px solid #686868;
}
th:last-child {
    border-right: none;
}




td {
    background-color: #ccc;
}

.userinput {
    background-color: #708fb0;
    color: #ffffff;
}

.userinput.expired {
    background-color: #8b8b8b;
}


.fix.others {
    background: #ccc;
}

.container {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}


.bg-white {
    background-color: #ffffff;
    color: #000000;
    padding: 0px;
    border-radius: 0px;
}

.bg-blue {
    background-color: #708fb0;
    color: #000000;
    padding: 10px;
    border-radius: 5px;
}

.bg-plurple {
    background-color: #be88a2;
    padding: 10px;
    border-radius: 5px;
}

.bg-grey {
    background-color: #8b8b8b;
    color: #000000;
    padding: 10px;
    border-radius: 5px;
}

h1 {
    text-align: center;
    color: #5c83ae;
    font-weight: 800;
}

h2 {
    text-align: center;
    color: #ffffff;
    font-weight: 600;
}

h3 {
    text-align: center;
    font-weight: 600;
    font-size: 1.5em;
}

h4 {
    margin-top: 5px;
    text-align: center;
    font-weight: 600;
    color: #be88a2;
    font-size: 1.2em;
}

p {
    font-size: 1em;
    color: #000000;
    font-weight: 500;
    margin: 5px;
}

big {
    font-size: 1.6em;
    color: #000000;
    font-weight: 700;
    margin: 0px;
}

.date {
    font-size: 1.1em;
    color: #6e6e6e;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
}

.greytext {
    color: #565656;
    font-size: 1.3em;
    font-weight: 700;
    font-stretch:expanded;
    margin:auto;
}

.pinktext {
    color: #be88a2;
    font-size: 1.3em;
    font-weight: 700;
    font-stretch:expanded;
    margin:auto;
}

.scrollable-container {
    border-radius: 5px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 10px;
    margin-bottom: 10px;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ ?????*/
}
.scrollable-container::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.select-container {
    display: flex;
    justify-content: center;
    background-color: #5c83ae;
    width: 100%;

}

.select-container.expired {
    background-color: #818181;
}

.checkbox {
    margin-top: 5px;
    width: 25px;
    height: 25px;
}

.appointment-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    align-items: center;
    background-color: #c3dcf0;
    border-radius: 5px;
    padding-top: 10px;
    margin: 5px;
    flex: 0 0 auto; /* Prevents flex items from growing */
    width: 200px; /* Set a fixed width for each card */
    max-width: 100%; /* Allow cards to shrink to fit smaller screens */
    box-sizing: border-box; /* Ensures padding and border are included in the width */
}

.appointment-card.expired {
    background-color: #dadada;
}

.timeslot-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #c3dcf0;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    flex: 0 0 auto; /* Prevents flex items from growing */
    width: 200px; /* Set a fixed width for each card */
    max-width: 100%; /* Allow cards to shrink to fit smaller screens */
    box-sizing: border-box; /* Ensures padding and border are included in the width */
}

.timeslot-card.expired {
    background-color: #f0c3dc;
}

#commentInput {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border-width: 5px;
    border-color: #be88a2;
    border-style: solid;
    box-sizing: border-box;
}

.comment-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: normal;
    background-color: #c3dcf0;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    flex: 0 0 auto; /* Prevents flex items from growing */
    width: 100%; /* Set a fixed width for each card */
    box-sizing: border-box; /* Ensures padding and border are included in the width */
}

.comment-card.expired {
    background-color: #cacaca;
}

.VoteButton {
    background-color: #be88a2;
    color: #ffffff;
    border:none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.VoteButton:active,
.VoteButton:hover,
.VoteButton:focus,
.VoteButton:visited {
    background-color: #fa5d94;
    border-color: #ab466d;
    color: #ffffff;
    box-shadow: none;
}

.selectbutton {
    background-color: #ffffff;
    color: #be88a2;
    border:none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 0px;
    margin: 15px;
    height: 40px;
    text-align: center;
}

.selectbutton.expired {
    background-color: #4b4b4b;
    color: #ffffff;
}

.selectbutton.selected,
.selectbutton:hover,
.selectbutton:focus,
.selectbutton:active,
.selectbutton:visited {
    background-color: #fa5d94;
    color: #ffffff;
    box-shadow: none;
}

.selectbutton.selected.expired,
.selectbutton:hover.expired,
.selectbutton:focus.expired,
.selectbutton:active.expired,
.selectbutton:visited.expired {
    background-color: #56c1ff;
    color: #ffffff;
    box-shadow: none;
}

.addbutton {
    background-color: #ffffff;
    color: #be88a2;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}  

.addbutton:hover,
.addbutton:focus,
.addbutton:active,
.addbutton:visited {
    background-color: #fa5d94;
    border-color: #ab466d;
    color: #ffffff;
    box-shadow: none;
}